<li>
    <a href="#/book/{{id}}">{{ title }}</a>
    <em>
        {{#if edited}}edited {{/if}}by
        {{ attribution }}
    </em>
    {{#lt totalRatings 1}}
    <strong class="ratings">No Ratings!</strong>
    {{else}}
    <ul class="hlist ratings" title="Average Rating: {{ averageRating }}, by {{ totalRatings }} reader{{#gt totalRatings 1}}s{{/gt}}.">
    {{#times 4}}
        {{#gt ../averageRating this}}
        <li>★</li>
        {{else}}
        <li>☆</li>
        {{/gt}}
    {{/times}}
    </ul>
    {{/lt}}
</li>
